<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>

    <style>
        img {
            height: 100px;
        }

        div>p {
            margin: 10px
        }
        h2{
            margin:10px;
        }

        .main-container{
            display: flex;
            /* flex-wrap: wrap; */
            margin:15px;
            padding: 10px;
            border:1px solid black;
            border-radius: 5px;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>

<body>
    <h2>Carrito</h2>

    {% for p in cartProducts %}
    <div class="main-container">
        <img src={{p.img_url}} alt="foto">

        <div>
            <h2>{{p.name}}</h2>
            <p>{{p.description}}</p>
        </div>

        <p>$ {{p.price}}</p>

        <input type="number" name="qty" id="input-qty" min="0" value={{p.amount}} onchange="updateCart({{p.id}},this,{{p.price}})">


        <p id="subtotal_{{p.id}}"> $ {{p.amount * p.price}} </p>
        
        <button type="button" onclick="deleteCartProduct({{p.id}})">Borrar</button>

    </div>
    {% endfor %}

</body>
<script>

    function updateCart(productId, inputRef, productPrice) {
        // console.log(productId, inputRef);
        
        let amount = parseInt(inputRef.value);
        
        fetch("/cart", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userId: 1,       // hardcodeado
                productId: productId,
                amount: amount,
            })
        })
        .then(function (res) { return res.json(); })
        .then(function (data) {
            console.log('respuesta servidor:',JSON.stringify(data));

            let elemSubtotal = document.getElementById(`subtotal_${productId}`);
            elemSubtotal.innerHTML = `$ ${amount * productPrice}` ;  // $123.45  -> damos formato al precio
        })


    }

    function deleteCartProduct(productId){        
        fetch("/cart", {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userId: 1,       // hardcodeado
                productId: productId,
            })
        })
        .then(function (res) { return res.json(); })
        .then(function (data) {
            console.log('deleteCartProduct -> respuesta servidor:',JSON.stringify(data));
        })
    }
</script>

</html>