<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <style>
        img{
            height: 200px;
        }
        div{
            margin:10px;
            border:1px solid gray;
            border-radius:10px;
            padding: 10px;
            min-width: 350px;
            width: auto;
        }
        body{
            display:inline;
        }
        p{
            font-weight:bold
        }

    </style>
</head>
<body>
    {% for p in productsList %}
    <div>
       <h2>{{p.name}}</h2>
       <img src={{p.img_url}} alt="">
       <p>{{p.description}}</p>
       <p>$ {{p.price}}</p>
       <button onclick="addToCart( {{p.id}} )">
        Add to cart
       </button>
    </div>  
    {% endfor %}
 
    <!-- <h1>My Webpage</h1> -->
</body>
<script>
    function addToCart(productId){
        console.log('add to cart -->', productId);
        
        fetch("/cart", {  
            method: "POST",
            headers:{
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({
                productId: productId,
                amount: 1,  
                userId: 1   // hardcodeado
                })
        })
        .then(function(res){ return res.json(); })
        .then(function(data){
            alert( JSON.stringify( data ) ) 
        })
    }
</script>
</html>