<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
</head>
<body>
    
    <form action="/login" method="POST">
        
        <p>Ingresar</p>
        
        <label for="input-email">E-mail</label>
        <input type="text" name="email" id="input-email">
        <br>
        <br>
        <label for="input-password">Contraseña</label>
        <input type="password" name="password" id="input-password">

        <input type="submit" value="Entrar">

    </form>

</body>
</html>